body {
    display: grid;
    place-content: center;
}

main {
    height: fit-content;
    width: fit-content;
    padding: 2rem;
    background-color: var(--background2-color);
}

main h1 {
    margin: 0;
    text-align: center;
    font-size: 1.75rem;
}

main #logintext {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
}

form {
    position: relative;
}

.input-container {
    position: relative;
    margin-bottom: 1rem;
}

.input-container input {
    background-color: transparent;
    height: 50px;
    width: 100%;
    border-radius: 0.5rem;
    border: 2px solid var(--background-color);
    color: var(--text-color);
    padding: 0.5rem;
    outline: 0;
}

.input-container .input-tooltip {
    position: absolute;
    font-size: 17px;
    top: 15.5px;
    left: 0.5rem;
    user-select: none;
    background-color: var(--background2-color);
    color: var(--text-color);
    transition: 0.2s;
    padding: 0 0.25rem;
    pointer-events: none;
}

input:focus~.input-tooltip,
input:not(:placeholder-shown)~.input-tooltip {
    transform: translate(-8%, -26px) scale(0.8);
}

input:focus~.input-tooltip {
    color: var(--accent-color);
}

.input-container input:active,
.input-container input:focus {
    border: 2px solid var(--accent-color);
}

#spacer {
    height: 2rem;
}

#register_crosslink {
    color: var(--text-color);
}

#login_button {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 0;
    min-width: 100px;
    cursor: not-allowed;
}

#login_button:enabled {
    background-color: var(--accent-color);
    cursor: pointer;
}

@media screen and (min-width: 475px) {
    main {
        border-radius: 1rem;
        min-width: 450px;
        width: fit-content;
    }

    body {
        background-color: var(--background-color);
    }
}

@media screen and (max-width: 475px) {
    main {
        width: 100vw;
    }

    body {
        background-color: var(--background2-color);
        place-content: start center;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    select,
    textarea,
    input {
        font-size: 16px;
    }
}